{{> nav/nav-block}}

<div id="main-container" class="container">
  <div>
    <div class="jumbotron jumbotron-fluid hero">
      {{!-- align="center" removed from div class--}}
      <p class="display-4 text-white d-none d-sm-block text-center">Welcome to <strong>Dream Journal </strong></p>
      <hr class="my-4">
      <div class="col">
        {{#if isloggedin}}
        <p class="display-5 text-white text-center">Your compass for recording and understanding dreams. <i class="fa-solid fa-cat-space"></i>
            <br>
          You are logged in as {{user.firstName}} {{user.lastName}}
          <a href="/logout"> <button type="btn" class="btn btn-dark">Logout</button></a>
          <footer class="blockquote-footer text-white text-center">login and journal entry features can be accessed at the top once you've signed up!</footer>

        {{else}}
          <p class="display-5 text-white text-center">Your compass for recording and understanding dreams. 
            <br>
            Select <a class="signup" href="/register" data-register={{register}}>Sign Up 🧭</a> to use the Dream Journal</p>
            <footer class="blockquote-footer text-white text-center">login and journal entry features can be accessed at the top once you've signed up!</footer>
        {{/if}}
        <h5 id="login-err-msg" class="text-center"></h5>
      </div>
    </div>
  </div>
   <div class="row quotespacing">
        <div class="col">
            <h1 class="font-utility lead text-white text-center">“I think of dreaming as overnight therapy.”</h1>
            <p class="secondary-font-utility text-white text-center">
              — Matthew Walker, PHD Neuroscience & Psychology
              </p>
        </div>

</div>

{{> modal/login-block}}
