


<!--Navbar-->
<nav class="navbar navbar-dark navbar-expand-sm bg-dark lighten-4 mb-4">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/dashboard"><i class="fa-brands fa-centos"></i> Dream Journal</a>

  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false"
    aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars fa-1x"></i></span></button>

  <!-- Collapsible content -->
  {{!-- <div class="collapse navbar-collapse topnavjustify" id="navbarSupportedContent41"> --}}
<div class="collapse navbar-collapse topnavjustify" id="navbarSupportedContent41">
    <ul class="navbar-nav mr-auto">

{{#if isloggedin}}
    <!-- Links -->
      <li class="nav-item topnav">
        <a class="nav-link text-white" href="/example">Add to Your Journal</a>
      </li>
      <li class="nav-item topnav">
        <a class="nav-link text-white" href="/profile">My Account</a>
      </li>
      <li class="nav-item topnav">
        <a class="nav-link text-white" href="/logout">Logout</a>
      </li>
      
{{else}}

      <li class="nav-item topnav">
        <a class="nav-link text-white" href="#" id="login-modal">Login</a>
      </li>
      <li class="nav-item topnav">
        <a class="nav-link text-white" href="/register" data-register={{register}}>Sign Up</a>
      </li>
      
{{/if}}
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

{{> modal/login-block}}